---
layout: default
---
{% for post in paginator.posts %}


<div class="post">

  <div class="cover-img">
    {% if post.cover %}
    <img src="{{post.cover}}" alt="Podcast Cover">
    {% endif %}
  </div>

  <div class=title>
    <h2 id="post-title" style="text-align: left;margin-left: 15px;">
      <a href="{{ post.url  | absolute_url }}">{{ post.title }}</a>
    {% for category in post.categories %}
      <a href="/categories" style="font-size: small;font-weight: 70;"> #{{category}}</a>
      {% endfor %}
    </h2>
  </div>

  {% capture file %}
  {{- post.file -}}
  {% endcapture %}
  {% capture title %}
  {{- post.title -}}
  {% endcapture %}
  {% include player.html file=file title=title %}

</div>
{% endfor %}


<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
  <span class="inactive">&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
  {% if page == paginator.page %}
  <span class="inactive">{{ page }}</span>
  {% elsif page == 1 %}
  <a href="/">{{ page }}</a>
  {% else %}
  <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
  {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
  <span class="inactive">Next &raquo;</span>
  {% endif %}
</div>
{% endif %}